
$fa-font-path: "../../webfonts";

$color-white-s: #fff;
$color-grey-1: #d5d5d5;
$color-grey-2: #424242;
$color-grey-main: #333333;
$color-grey-3: #292929;
$color-grey-4: #141414;
$color-grey-5: #f6f6f6;
$color-black: #000;

$color-green: #44bb44;
$color-green-lighter: #98db59;
$color-green-darker: #128612;
$color-orange:#F2994A;
$color-orange-darker:#E2792A;
$color-yellow:#f3c745;
$color-yellow-darker:#f2c92c;
$color-yellow-lighter:#ffdb66;
$color-danger-dark:rgb(211, 0, 0);

$gradient-greenish-transparent: linear-gradient(
    135deg,
    rgba(192, 145, 15, 0.8),
    rgba(20,304,200,0.5)
);

$top-navbar-height: 10vh;
