
.errorBoundary{
    display: block;
    position: absolute;
    
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &>*{
        margin: 1rem 0px;
        align-self: center;
        text-align: center;
    }
}